:root {
  --color-taliban: darkgoldenrod;
  --color-taliban-turban: brown;
}

html {
  height: 100%;
  /* fix for scrollbar jump glitch */
  margin-left: calc(100vw - 100%);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: linear-gradient(to top, white, deepskyblue);
}

svg {
  position: fixed;
  overflow: visible;
}

h1 {
  position: relative;
  top: -200px;
}
