html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

svg {
    position: fixed;
    overflow: visible;
}

h1 {
    position: relative;
    top: -200px;
}